extends layout

block content
	.pusher
		include ./includes/mainbanner
		.ui.container
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
			h1= title
			p Welcome to #{title}
			button.ui.button Follow
